<form action="/" method="POST" id="sample-form">
<div class="container mt-4">
  <div class="row">
  <div class="col-sm">
    <h5>Medications</h5>
    <div class='form-row'>
      <db-medication-search
        refresh-jwt="/protected-refresh-jwt"
        name="medications[0]"
        value="<%= @medications['0'] %>"
        shared-jwt="true"
      ></db-medication-search>
    </div>
    <div class='form-row'>
      <db-medication-search
        refresh-jwt="/protected-refresh-jwt"
        name="medications[1]"
        value="<%= @medications['1'] %>"
        shared-jwt="true"
      ></db-medication-search>
    </div>
    <div class='form-row'>
      <db-medication-search
        refresh-jwt="/protected-refresh-jwt"
        name="medications[2]"
        value="<%= @medications['2'] %>"
        shared-jwt="true"
      ></db-medication-search>
    </div>
    <div class='form-row'>
      <db-medication-search
        refresh-jwt="/protected-refresh-jwt"
        name="medications[3]"
        value="<%= @medications['3'] %>"
        shared-jwt="true"
      ></db-medication-search>
    </div>
    <div class='form-row'>
      <button
        type="button"
        class="btn btn-primary btn-lg"
        id="check-interactions"
        onclick="checkInteractions()"
      >Check Interactions</button>
    </div>
  </div>
  <div class="col-sm">
    <h5>Interactions</h5>
    <db-ddi-viewer
      name="ddi"
      refresh-jwt="/protected-refresh-jwt"
      shared-jwt="true"
      display="narrow"
    ></db-ddi-viewer>
  </div>
</form>
<script>
  const ddiViewer = document.getElementsByName('ddi')[0]
  const medicationSearches = [...document.getElementsByTagName('db-medication-search')]
  const checkInteractionsBtn = document.getElementById('check-interactions')

  let medications = {}

  medicationSearches.forEach(search => {
      const name = search.getAttribute('name')
      search.addEventListener("db-value-changed", function(e) {
          medications[name] = e.detail.drugbank_pcid
      })
  });

  function checkInteractions() {
    const dbpcIds = Object.values(medications)
    ddiViewer.setAttribute('drugbank-pcid', dbpcIds.join(','))
  }
</script>
